* {
    margin: 2px;
    padding: 0;
    text-align: center;
}

.container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

#sistemas {
    font-weight: bold;
    color: brown;
    background-image: url("images/shit.jpg");
}

#ciência {
    font-weight: bold;
    color: blue;
    background-image: url("images/pcn.jpg ");
}

#engenharia {
    font-weight: bold;
    color: chocolate;
    background-image: url("images/cacete.jpg");
}

.hero-btn {
    color: chocolate;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
}
.hero-btn:hover{
    background: black;
    transition: 1s;
}

#info2 {
    display: flex;
    justify-content: center;
}

#imgfinal {
    background-image: url("images/vaches.png");
    padding: 100px;
    font-weight: bold;
}

#btnfinal {
    padding: 10px;
}

#btnfinal:hover {
    background: blue;
    transition: 2s;
}